body {
    background-color: #FFFFFF;
}
.back-image {     
   background-color: #D1E5F0;
}

.header-image img{
    width: 100%;   
}

.color_1 {
    background-color: #F3FAFF;
}
.color_2 {
    background-color: #E0F0FE;
}
.color_3 {
    background-color: #D2E1EE;
}

.color_4 {
    background-color: #E0F0FE;
}

.color_5 {
    background-color: #D2E1EE;
}

.color_6 {
    background-color: #CEDBE5;
}

.color_7 {
    background-color: #D2E1EE;
}

.color_8 {
    background-color: #CEDBE5;
}

.color_9 {
    background-color: #C2CED8;
}

.important {
    color: #cc3366;
}

.timer-center {
    text-align: center;
}